/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // --------------------------------------------------------------------------------------------------------------------------------
            // | ESC   |  1  |  2  |   3   |  4  |  5  |                   ---                |  6    |  7    |  8    |  9   | 0  |    BKSP   |
            // | TAB   |  Q  |  W  |   E   |  R  |  T  |   (   |           ---        |  )    |  Y    |  U    |  I    |  O   | P  |     -     |
            // | CTRL  |  A  |  S  |   D   |  F  |  G  |   [   |           ---        |  ]    |  H    |  J    |  K    |  L   | ;  |     '     |
            // | SHIFT |  Z  |  X  |   C   |  V  |  B  | PG_UP | PG_DOWN | --- | HOME | END   |  N    |  M    |  ,    |  .   | /  | SHFT(RET) |
            // | CRTL  | ALT | GUI | LOWER |    GUI    | LOWER | SPACE   | --- | DEL  | SPACE |     RAISE     | LEFT  | DOWN | UP |   RIGHT   |

            bindings = <
  &none  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5                                                        &none          &kp N6    &kp N7     &kp N8         &kp N9        &kp N0
  &none   &kp Q   &kp W   &kp F   &kp P   &kp B           &none                                &none   &kp J           &kp L     &kp U      &kp Y  &kp SEMICOLON         &none
  &none   &kp A   &kp R   &kp S   &kp T   &kp G           &none                                &none   &kp M           &kp N     &kp E      &kp I          &kp O         &none
  &none   &kp Z   &kp X   &kp C   &kp D   &kp V           &none      &none          &none      &none   &kp N           &kp K     &kp H  &kp COMMA     &kp PERIOD  &kp QUESTION
  &none   &none   &none   &none           &mo 1  &kp LEFT_SHIFT  &kp SPACE  &kp BACKSPACE  &kp ENTER           &mo 2          &kp LEFT   &kp DOWN         &kp UP     &kp RIGHT
            >;
        };

        lower_layer {
            // --------------------------------------------------------------------------------------------------------------------------
            // | ESC   |  1  |  2  |   3   |   4   |  5  |                   ---              |  6  |  7  |   8  |  9   |  0  |  DEL  |
            // | ESC   |  1  |  2  |   3   |   4   |  5  |   (   |           ---        |  )  |  6  |  7  |   8  |  9   |  0  |  DEL  |
            // | CTRL  |  -  |  =  |   [   |   ]   |  \  |   [   |           ---        |  ]  |  *  |  4  |   5  |  6   |  +  |   -   |
            // | SHIFT | ESC | GUI | COPY  | PASTE |     | PG_UP | PG_DOWN | --- | HOME | END |  \  |  1  |   2  |  3   | RET |  RET  |
            // | CRTL  | ALT | GUI | LOWER |     GUI     | LOWER | SPACE   | --- | DEL  |  0  |    RAISE  | LEFT | DOWN | UP  | RIGHT |

            bindings = <
 &trans  &trans  &trans  &trans  &trans  &trans                                            &trans          &trans  &trans  &trans       &trans        &trans
  &none   &none   &none   &none   &none   &none  &trans                     &trans          &none          &kp N7  &kp N8  &kp N9       &kp N0       &kp DEL
 &trans   &none   &none   &none   &none   &none  &trans                     &trans          &none          &kp N4  &kp N5  &kp N6  &kp KP_PLUS  &kp KP_MINUS
 &trans   &none   &none   &none   &none   &none  &trans  &trans     &trans  &trans  &kp KP_DIVIDE          &kp N1  &kp N2  &kp N3      &kp RET       &kp RET
 &trans  &trans  &trans  &trans          &trans  &trans  &trans  &kp ENTER  &kp N0                 &trans          &trans  &trans       &trans        &trans
            >;
        };

        raise_layer {
            // ----------------------------------------------------------------------------------------------------------------------------
            // | ESC   |  1  |  2  |   3   |  4  |  5  |                   ---                |  6   |  7   |  8   |  9   |  0    |  DEL  |
            // | ESC   |  !  |  @  |   #   |  $  |  %  |   (   |           ---        |  )    |  ^   |  &   |  *   |  (   |  )    |  DEL  |
            // | CTRL  |  _  |  +  |   {   |  }  | "|" |   [   |           ---        |  ]    | HOME | PGUP | PRSC | UP   |  `    |   ~   |
            // | SHIFT | ESC | GUI |   (   |  )  |     | PG_UP | PG_DOWN | --- | HOME | END   | END  | PGDN | LEFT | DOWN | RIGHT |  RET  |
            // | CRTL  | ALT | GUI | LOWER |    GUI    | LOWER | SPACE   | --- | DEL  | SPACE |    RAISE    | LEFT | DOWN | UP    | RIGHT |

            bindings = <
 &trans  &trans  &trans  &trans  &trans  &trans                                                 &trans            &none       &none         &none         &none   &none
  &none   &none   &none   &none   &none   &none  &trans                  &kp C_BRIGHTNESS_INC   &kp F1           &kp F2      &kp F3        &kp F4        &kp F5   &none
 &trans   &none   &none   &none   &none   &none  &trans                  &kp C_BRIGHTNESS_DEC   &kp F6           &kp F7      &kp F8        &kp F9       &kp F10   &none
 &trans   &none   &none   &none   &none   &none  &trans  &trans  &trans                &trans  &kp F11          &kp F12  &kp K_MUTE  &kp C_VOL_DN  &kp C_VOL_UP     &kp
 &trans  &trans  &trans   &none          &trans   &none  &trans  &trans                &trans           &trans               &trans        &trans        &trans  &trans
            >;
        };
    };
};
