/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // --------------------------------------------------------------------------------------------------------------------------------
            // | ESC   |  1  |  2  |   3   |  4  |  5  |                   ---                |  6    |  7    |  8    |  9   | 0  |    BKSP   |
            // | TAB   |  Q  |  W  |   E   |  R  |  T  |   (   |           ---        |  )    |  Y    |  U    |  I    |  O   | P  |     -     |
            // | CTRL  |  A  |  S  |   D   |  F  |  G  |   [   |           ---        |  ]    |  H    |  J    |  K    |  L   | ;  |     '     |
            // | SHIFT |  Z  |  X  |   C   |  V  |  B  | PG_UP | PG_DOWN | --- | HOME | END   |  N    |  M    |  ,    |  .   | /  | SHFT(RET) |
            // | CRTL  | ALT | GUI | LOWER |    GUI    | LOWER | SPACE   | --- | DEL  | SPACE |     RAISE     | LEFT  | DOWN | UP |   RIGHT   |

            bindings = <
      &kp GRAVE   &kp N1       &kp N2         &kp N3  &kp N4  &kp N5                                                                         &kp N6  &kp N7    &kp N8     &kp N9         &kp N0        &kp DELETE
   &kp CAPSLOCK    &kp Q        &kp W          &kp F   &kp P   &kp B              &none                                           &kp EQUAL   &kp J   &kp L     &kp U      &kp Y  &kp SEMICOLON     &kp BACKSLASH
        &kp TAB    &kp A        &kp R          &kp S   &kp T   &kp G          &kp LC(B)                                           &kp MINUS   &kp M   &kp N     &kp E      &kp I          &kp O  &kp SINGLE_QUOTE
 &kp LEFT_SHIFT    &kp Z        &kp X          &kp C   &kp D   &kp V  &kp LA(LC(LSHFT))  &kp LEFT_CONTROL               &kp LGUI   &kp LALT   &kp N   &kp K     &kp H  &kp COMMA     &kp PERIOD         &kp SLASH
       &kp HOME  &kp END  &kp PAGE_UP  &kp PAGE_DOWN           &mo 1     &kp LEFT_SHIFT         &kp SPACE          &kp BACKSPACE  &kp ENTER   &mo 2          &kp LEFT   &kp DOWN         &kp UP         &kp RIGHT
            >;
        };

        lower_layer {
            // --------------------------------------------------------------------------------------------------------------------------
            // | ESC   |  1  |  2  |   3   |   4   |  5  |                   ---              |  6  |  7  |   8  |  9   |  0  |  DEL  |
            // | ESC   |  1  |  2  |   3   |   4   |  5  |   (   |           ---        |  )  |  6  |  7  |   8  |  9   |  0  |  DEL  |
            // | CTRL  |  -  |  =  |   [   |   ]   |  \  |   [   |           ---        |  ]  |  *  |  4  |   5  |  6   |  +  |   -   |
            // | SHIFT | ESC | GUI | COPY  | PASTE |     | PG_UP | PG_DOWN | --- | HOME | END |  \  |  1  |   2  |  3   | RET |  RET  |
            // | CRTL  | ALT | GUI | LOWER |     GUI     | LOWER | SPACE   | --- | DEL  |  0  |    RAISE  | LEFT | DOWN | UP  | RIGHT |

            bindings = <
  &none   &none   &none      &kp LEFT_BRACKET      &kp RIGHT_BRACKET   &none                                                          &none      &none      &none      &none   &none    &kp KP_DIVIDE
  &none   &none   &none        &kp LEFT_BRACE        &kp RIGHT_BRACE   &none   &none                                    &none         &none  &kp KP_N7  &kp KP_N8  &kp KP_N9  &trans  &kp KP_MULTIPLY
 &trans   &none   &none  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS   &none  &trans                                    &none         &none  &kp KP_N4  &kp KP_N5  &kp KP_N6   &none     &kp KP_MINUS
  &none   &none   &none         &kp LESS_THAN       &kp GREATER_THAN   &none   &none   &none                 &none      &none  &kp KP_COMMA  &kp KP_N1  &kp KP_N2  &kp KP_N3   &none      &kp KP_PLUS
  &none   &none   &none                 &none                         &trans   &none   &none          &kp KP_ENTER  &kp KP_N0         &none                 &none      &none   &none            &none
            >;
        };

        raise_layer {
            // ----------------------------------------------------------------------------------------------------------------------------
            // | ESC   |  1  |  2  |   3   |  4  |  5  |                   ---                |  6   |  7   |  8   |  9   |  0    |  DEL  |
            // | ESC   |  !  |  @  |   #   |  $  |  %  |   (   |           ---        |  )    |  ^   |  &   |  *   |  (   |  )    |  DEL  |
            // | CTRL  |  _  |  +  |   {   |  }  | "|" |   [   |           ---        |  ]    | HOME | PGUP | PRSC | UP   |  `    |   ~   |
            // | SHIFT | ESC | GUI |   (   |  )  |     | PG_UP | PG_DOWN | --- | HOME | END   | END  | PGDN | LEFT | DOWN | RIGHT |  RET  |
            // | CRTL  | ALT | GUI | LOWER |    GUI    | LOWER | SPACE   | --- | DEL  | SPACE |    RAISE    | LEFT | DOWN | UP    | RIGHT |

            bindings = <
  &none    &none    &none       &none         &none         &none                                                     &trans   &none   &none   &none   &none   &none
  &none   &kp F1   &kp F2      &kp F3        &kp F4        &kp F5  &kp C_BRI_UP                          &bootloader   &none   &none   &none   &none   &none   &none
  &none   &kp F6   &kp F7      &kp F8        &kp F9       &kp F10  &kp C_BRI_DN                                &none   &kp H   &kp J   &kp K   &kp L   &none   &none
  &none  &kp F11  &kp F12  &kp K_MUTE  &kp C_VOL_DN  &kp C_VOL_UP         &none  &trans           &none        &none   &none   &none   &none   &none   &none   &none
  &none    &none   &trans       &none                       &none         &none   &none           &none        &none  &trans           &none   &none   &none   &none
            >;
        };
    };
};
